{% extends 'base.html' %}

{% block content %}
{% load static %}
{% for i in info %}
<script>
    function MoneySwap(price){
       var temp_str = String(price);
       for(var i = 0 , retValue = String() , stop = temp_str.length; i < stop ; i++) {
        retValue = ((i%3) == 0) && i != 0 ? temp_str.charAt((stop - i) -1) + "," + retValue : temp_str.charAt((stop - i) -1) + retValue;
       }
       return retValue;
    }
    $(function() {
        {% for i in info %}
            $("#price_2").html(MoneySwap({{ i.people2 }})+'원 '+'/ '+MoneySwap({{ i.people2|add:2000 }})+'원');
            $("#price_3").html(MoneySwap({{ i.people3 }})+'원 '+'/ '+MoneySwap({{ i.people3|add:2000 }})+'원');
            $("#price_4").html(MoneySwap({{ i.people4 }})+'원 '+'/ '+MoneySwap({{ i.people4|add:2000 }})+'원');
            $("#price_5").html(MoneySwap({{ i.people5 }})+'원 '+'/ '+MoneySwap({{ i.people5|add:2000 }})+'원');
            $("#price_6").html(MoneySwap({{ i.people6 }})+'원 '+'/ '+MoneySwap({{ i.people6|add:2000 }})+'원');
            $("#price_m").html(MoneySwap({{ i.middleHigh }})+'원 '+'/ '+MoneySwap({{ i.middleHigh|add:2000 }})+'원');
            $("#price_e").html(MoneySwap({{ i.elementary }})+'원 '+'/ '+MoneySwap({{ i.elementary|add:2000 }})+'원');
        {% endfor %}
    })
</script>
<div class="container-fluid py-5" style="background-color:black">
    <h1 class="text-center text-white">{{ i.name }}</h1>
    <h4 class="text-center pb-5" style="color:rgb(171,171,171);">이용안내</h4>
    <div class="container">
        <div class="container">
            <div class="container px-3">
            <p class="text-center text-white">
                온라인에서 즐기던 방 탈출 게임을 실제상황처럼 참가자가 특별한 테마 룸에 갇혀<br>
                주어진 시간 60분 이내로 미션을 해결하여 탈출하여야 합니다.<br>
                <br>
                {{ i.name }}에서 {{ i.roomNum }}가지의 테마를 경험해보세요!
            </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row my-5">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12">
                    <table class="table table-bordered text-center" cellpadding=0 cellspacing=0 border=0 id="price">
                        <thead>
                            <tr style="background:#fff; color:#222">
                                <td style="border-right:1px solid #222">인원수</td>
                                <td style="border-right:1px solid #222">현금 / 카드(인당)</td>
                                <td>가격이벤트</td>
                            </tr>
                        </thead>
                        <tbody class="text-white">
                            <tr>
                            </tr>
                            <tr>
                                <td>2명</td>
                                {% for i in info %}
                                <td id="price_2"></td>
                                {% endfor %}
                                <td rowspan="7" style="text-align:left; padding-left:15px">
                                    <div class="my-5">
                                        {{ i.event|safe }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3명</td>
                                {% for i in info %}
                                <td id="price_3">{{ i.people3 }}원 / {{ i.people3|add:2000 }}원</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>4명</td>
                                {% for i in info %}
                                <td id="price_4">{{ i.people4 }}원 / {{ i.people4|add:2000 }}원</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>5명</td>
                                {% for i in info %}
                                <td id="price_5">{{ i.people5 }}원 / {{ i.people5|add:2000 }}원</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>6명</td>
                                {% for i in info %}
                                <td id="price_6">{{ i.people6 }}원 / {{ i.people6|add:2000 }}원</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>중.고등</td>
                                {% for i in info %}
                                <td id="price_m">{{ i.middleHigh }}원 / {{ i.middleHigh|add:2000 }}원</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>초등부</td>
                                {% for i in info %}
                                <td id="price_e">{{ i.elementary }}원 / {{ i.elementary|add:2000 }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}